{:source-paths
 ["src"]

 :dependencies
 [[reagent "1.2.0"]
  [thheller/shadow-cljs "2.20.0"]]

 :builds
 {:app
  {:target :browser
   :output-dir "public/js"   ;; Output directory under the public folder
   :asset-path "/js"          ;; Path used for accessing the assets
   :modules {:main {:init-fn random-quotes.frontend.core/init}}
   :build-hooks [(shadow.build-hooks/with-dotenv)]}}}